<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="{% url 'products' %}?category=shampoos" class="dropdown-item">Shampoos</a>
                <a href="{% url 'products' %}?category=conditioners" class="dropdown-item">Conditioners</a>
                <a href="{% url 'products' %}?category=colors_toners" class="dropdown-item ">Colors & Toners</a>
                <a href="{% url 'products' %}?category=masks_oils" class="dropdown-item">Masks & oils</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="services-link">
                <a href="{% url 'services' %}?treatment=hair" class="dropdown-item">Hair</a>
                <a href="{% url 'services' %}?treatment=nails" class="dropdown-item">Nails</a>
                <a href="{% url 'services' %}?treatment=lashes" class="dropdown-item ">Lashes</a>
                <a href="{% url 'services' %}?treatment=tinting" class="dropdown-item ">Tinting</a>
                <a href="{% url 'services' %}" class="dropdown-item">All Services</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'booking' %}" id="bookings-link" aria-haspopup="true" aria-expanded="false">
                Booking
            </a>
        </li>
</div>